# Dependencies
node_modules/
pacakge-lock.json

# Production build
dist/
*.vercel*

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Temporary/cache
*.tsbuildinfo
.next/
/.cache/

# System files
Thumbs.db
Desktop.ini